@import url("../../utilities/vars.css");
.pokeCard {
  padding: 1rem 2rem 0 2rem;
  height: 200px;
  width: 60%;
  border-radius: 10px;
  background-color: var(--light-gray);
}

.avatar {
  width: 100%;
  height: 100px;
  display: block;
}

.id {
  color: var(--dark-gray);
  font: bold;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
}
