@import url("../../utilities/vars.css");
.pokeCard {
  height: 250px;
  min-width: 260px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
  transition: 0.2s ease-in;
  transform: translateY(0);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.pokeCardDetailed {
  min-height: 300px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
  transition: 0.2s ease-in;
  transform: translateY(0);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  height: 85vh;
  overflow: auto;
}

@media (max-width: 670px) {
  .idDetailed {
    color: var(--gray);
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 0.5rem;
    text-align: center;
    margin-right: 1rem;
  }

  .nameDetailed {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--gray);
  }

  .flexDetailed {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-transform: capitalize;
    background-color: #fff;
    flex-wrap: wrap;
    margin: auto;
  }

  .typesDetailed {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 0.2rem;
  }

  .typeDetailed {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: var(--light-blue);
    font-size: 1rem;
  }

  .detailTitle {
    text-align: center;
    width: 100%;
    display: block;
    background-color: var(--light-gray);
    border-bottom: none;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    display: block;
    padding-bottom: 2px;
    border-bottom: var(--dark-gray) solid 1px;
    color: var(--light-blue);
  }

  .detailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 1rem;
  }

  .detailData {
    width: 80%;
    text-align: center;
    margin: auto;
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-transform: capitalize;
  }

  .detailGrid2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .detailGrid3 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .detailGrid4 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 670px) {
  .idDetailed {
    color: var(--gray);
    font-weight: bold;
    font-size: 2.5rem;
  }

  .flexDetailed {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: #fff;
  }

  .nameDetailed {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--gray);
  }

  .typesDetailed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* margin-top: 1rem; */
    margin-bottom: 0.2rem;
  }

  .typeDetailed {
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: var(--light-blue);
    font-size: 1rem;
  }

  .detailFlex {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .detailContainer {
    width: 95%;
    padding: 1rem;
  }
  .detailTitle {
    text-align: start;
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 0.3rem;
    display: block;
    padding-bottom: 2px;
    /* margin-left: 1rem; */
    border-bottom: var(--dark-gray) solid 1px;
    color: var(--light-blue);
  }

  .detailData {
    color: black;
    text-align: start;
    display: block;
    margin-top: 1rem;
    text-transform: capitalize;
  }

  .detailGrid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .detailGrid3 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .detailGrid4 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokeCard:hover {
  transform: translateY(-5px);
}

.avatar {
  top: 0;
  width: 100%;
  height: 120px;
  background-color: var(--light-gray);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

.id {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.8rem;
}

.flex {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  background-color: #fff;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
  color: black;
}

.types {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.type {
  margin-left: -0.3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: var(--light-blue);
  font-size: 1.2rem;
  cursor: pointer;
  /* margin-left: 0.1rem; */
  transform: scale(1);
  transition: 0.2s ease-in;
}

.type:hover {
  transform: scale(1.2);
}

.favIcon svg {
  position: absolute;
  color: var(--yellow);
  bottom: 1.6rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.favIcon svg:hover {
  transform: scale(1.3);
}

.fly {
  background-color: var(--light-blue);
  color: #fff;
}

.grass {
  background-color: var(--light-green);
}

.fire {
  background-color: var(--orange);
  color: #fff;
}

.water {
  background-color: var(--light-blue);
  color: #fff;
}

.bug {
  background-color: var(--dark-green);
  color: #fff;
}

.poison {
  background-color: var(--purple);
  color: #fff;
}

.electric,
.dragon {
  background-color: var(--yellow);
  color: #000;
}

.fairy {
  background-color: var(--pink);
}

.ground {
  background-color: var(--brown);
  color: #fff;
}

.normal {
  background-color: var(--dark-gray);
  color: #fff;
}

.fighting {
  background-color: var(--dark-orange);
  color: #fff;
}

.psychic {
  background-color: var(--dark-pink);
  color: #fff;
}

.ghost {
  background-color: var(--dark-purple);
  color: #fff;
}

.rock {
  background-color: var(--dark-brown);
  color: #fff;
}

.ice {
  background-color: var(--very-light-blue);
  color: #fff;
}
