@import url("../../utilities/vars.css");
.pokeCard {
  height: 250px;
  min-width: 260px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
  transition: 0.2s ease-in;
  transform: translateY(0);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.pokeCardDetailed {
  min-height: 300px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
  transition: 0.2s ease-in;
  transform: translateY(0);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.pokeCard:hover {
  transform: translateY(-5px);
}

.avatar {
  width: 100%;
  height: 120px;
  background-color: var(--light-gray);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

.id {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.8rem;
}

.idDetailed {
  color: var(--gray);
  font-weight: bold;
  font-size: 2.5rem;
}

.flex {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  background-color: #fff;
}

.flexDetailed {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-transform: capitalize;
  background-color: #fff;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
  color: black;
}

.nameDetailed {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--gray);
}

.types {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.typesDetailed {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin-top: 1rem; */
  margin-bottom: 0.2rem;
}

.type {
  margin-left: -0.3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: var(--light-blue);
  font-size: 1.2rem;
  /* margin-left: 0.1rem; */
}

.typeDetailed {
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: var(--light-blue);
  font-size: 1rem;
}

.favIcon svg {
  position: absolute;
  color: var(--yellow);
  bottom: 1.6rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.favIcon svg:hover {
  transform: scale(1.3);
}

.fly {
  background-color: var(--light-blue);
  color: #fff;
}

.grass {
  background-color: var(--light-green);
}

.fire {
  background-color: var(--orange);
  color: #fff;
}

.water {
  background-color: var(--light-blue);
  color: #fff;
}

.bug {
  background-color: var(--dark-green);
  color: #fff;
}

.poison {
  background-color: var(--purple);
  color: #fff;
}

.electric,
.dragon {
  background-color: var(--yellow);
  color: #000;
}

.fairy {
  background-color: var(--pink);
}

.ground {
  background-color: var(--brown);
  color: #fff;
}

.normal {
  background-color: var(--dark-gray);
  color: #fff;
}

.fighting {
  background-color: var(--dark-orange);
  color: #fff;
}

.psychic {
  background-color: var(--dark-pink);
  color: #fff;
}

.ghost {
  background-color: var(--dark-purple);
  color: #fff;
}

.rock {
  background-color: var(--dark-brown);
  color: #fff;
}

.ice {
  background-color: var(--very-light-blue);
  color: #fff;
}

.detailFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.detailContainer {
  width: 95%;
  padding: 1rem;
}
.detailTitle {
  text-align: start;
  width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 0.3rem;
  display: block;
  padding-bottom: 2px;
  /* margin-left: 1rem; */
  border-bottom: var(--dark-gray) solid 1px;
  color: var(--light-blue);
}

.detailData {
  color: black;
  text-align: start;
  display: block;
  margin-top: 1rem;
  text-transform: capitalize;
}

.detailGrid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detailGrid3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.detailGrid4 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
