@import url("../../utilities/vars.css");
.pokeCard {
  padding: 2rem;
  width: 30%;
  height: 10rem;
  background-color: var(--green);
}

.avatar {
  width: 80%;
  max-height: 5rem;
  transform: translateX(-10%);
  margin: auto;
}
