@import url("../../utilities/vars.css");
.pokeCard {
  height: 220px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 1rem;
  transition: 0.2s ease-in;
  transform: translateY(0);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.pokeCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.avatar {
  width: 100%;
  height: 120px;
  background-color: var(--light-gray);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}

.id {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.8rem;
}

.flex {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  background-color: #fff;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.types {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.type {
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: var(--light-blue);
  font-size: 0.8rem;
}

.fly {
  background-color: var(--light-blue);
  color: #fff;
}

.grass {
  background-color: var(--light-green);
}

.fire {
  background-color: var(--orange);
  color: #fff;
}

.water {
  background-color: var(--light-blue);
  color: #fff;
}

.bug {
  background-color: var(--dark-green);
  color: #fff;
}

.poison {
  background-color: var(--purple);
  color: #fff;
}

.electric,
.dragon {
  background-color: var(--yellow);
  color: #000;
}

.fairy {
  background-color: var(--pink);
}

.ground {
  background-color: var(--brown);
  color: #fff;
}

.normal {
  background-color: var(--dark-gray);
  color: #fff;
}

.fighting {
  background-color: var(--dark-orange);
  color: #fff;
}

.psychic {
  background-color: var(--dark-pink);
  color: #fff;
}

.ghost {
  background-color: var(--dark-purple);
  color: #fff;
}

.rock {
  background-color: var(--dark-brown);
  color: #fff;
}

.ice {
  background-color: var(--very-light-blue);
  color: #fff;
}
/* 
if (type === "fly") btnStyle.push(classes.fly);
if (type === "dragon") btnStyle.push(classes.dragon); */
