:root {
  --dark-blue: #1b53ba;
  --light-blue: #30a7d7;
  --yellow: #e6bc2f;
  --orange: #ee6b2f;
  --red: #e3360e;
  --gray: #919191;
  --green: #54b564;
  --brown: #675944;
  --light-black: #313131;
  --purple: #b38aea;
  --pink: #ff90c4;
}
