@import url("../../utilities/vars.css");
.navbar {
  width: 100%;
  /* background-color: red; */
  padding-top: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  margin: auto;
  margin-bottom: 1rem;
  /* display: block; */
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-bottom: 1rem;
  /* margin: 0 2rem 0 2rem; */
}

.flex img {
  transform: scale(1.3);
}

a:-webkit-any-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.favoriteLogo,
.favoriteLogo:active,
.favoriteLogo:focus {
  padding: 4px 0px;
  display: block;
  margin: auto;
  text-decoration: none;
  color: #fff;
}
